@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }

  25% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  50% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  75% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }

  25% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  50% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  75% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }

  25% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  50% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  75% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); }

  25% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  50% {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }

  75% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg); } }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Thin.otf);
  font-weight: 100; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Light.otf);
  font-weight: 200; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Book.otf);
  font-weight: 300; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Medium.otf);
  font-weight: 500; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-Bold.otf);
  font-weight: 700; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-ThinItalic.otf);
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-BookItalic.otf);
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-MediumItalic.otf);
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: Gotham;
  src: url(fonts/Gotham-BoldItalic.otf);
  font-weight: 700;
  font-style: italic; }
*, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

html {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  color: #404041;
  background: #ffffff;
  font-weight: 300;
  min-height: 100%;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: rgb(244,148,175); }
  a:hover {
    color: #ffdd71; }

.label {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: .1em;
  font-size: 14px;
  text-transform: uppercase;
  color: #9AC847;
  margin-bottom: 0px; }

.button {
  display: inline-block;
  padding: 18px 24px;
  background: #9AC847;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: .1em;
  font-size: 16px;
  text-transform: uppercase; }
  .button:hover {
    color: #ffffff;
    background: #FDE03A; }

.inner {
  position: absolute;
  overflow: hidden;
  top: 50%;
  width: 100%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.center {
  margin: 0 auto;
  text-align: center; }

#container {
  overflow: hidden; }

nav {
  background: #404041;
  padding: 18px;
  position: relative; }
  nav h1 {
    width: 56px;
    height: 17px;
    margin: 0 auto; }
    nav h1 a {
      display: block;
      font-size: 000000;
      text-indent: -9999999em;
      width: 100%;
      height: 100%;
      background-image: url(../img/tap.png);
      background-size: 56px 17px; }

header {
  position: relative;
  height: 500px;
  background-image: url(../img/bannerbg.jpg);
  background-size: cover;
  text-align: center; }
  header .icon {
    display: block;
    height: 315px;
    margin: 0 auto 24px auto;
    background-image: url(../img/bannerimage.png);
    background-size: auto 90%;
    background-position: center;
    background-repeat: no-repeat; }
  header .label {
    margin-bottom: 10px; }
  header h2 {
    display: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 64px;
    margin-bottom: 48px; }
    @media screen and (max-width: 480px) {
      header h2 {
        font-size: 48px;
        margin-bottom: 24px; } }
  header .label {
    color: #f8f8f8;
  }
.details {
  position: relative;
  overflow: hidden; }
  .details .left, .details .right {
    float: left;
    width: 49.999%;
    height: 400px;
    text-align: center;
    position: relative; }
    @media screen and (max-width: 480px) {
      .details .left, .details .right {
        width: 100%; } }
  .details .left {
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-position: 50% 50%; }
    .details .left a {
      line-height: 400px;
<<<<<<< HEAD
      color: #ffffff;
=======
      color: #404041;
>>>>>>> 38ef2ea99d316ebabf9b283062bb149b34773437
      background: #9AC847;
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, #9AC847 0%, #FDE03A 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #9AC847), color-stop(100%, #FDE03A));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, #9AC847 0%, #FDE03A 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, #9AC847 0%, #FDE03A 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, #9AC847 0%, #FDE03A 100%);
      /* IE10+ */
      background: linear-gradient(225deg, #9AC847 0%, #FDE03A 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color1', endColorstr='$color2',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .details .left a:hover {
        opacity: .8; }
  .details .right .details {
    font-size: 24px;
    margin-bottom: 24px; }

.information {
  background: #f8f8f8;
  padding: 48px;
  line-height: 36px; }
  .information h3 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 48px;
    text-align: center; }
  .information p {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px; }
  .information ul {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> 38ef2ea99d316ebabf9b283062bb149b34773437
    display: block;
    width: 100%;
    list-style: none;
    overflow: hidden; }
    .information ul li {
      display: inline-block;
      width: 24.5%;
      margin-bottom: 36px;
      vertical-align: middle;
      text-align: center; }
      .information ul li .logo {
        display: inline-block; }
        .information ul li .logo img {
          height: 100px; }
        .information ul li .logo.square img {
          width: 100px; }
        .information ul li .logo.rectangle img {
          width: 150px; }
        .information ul li .logo a {
          font: bold; }
      .information ul li .icon {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url(../img/icons-3.png);
        background-size: 200px 200px; }
      .information ul li .shrimp, .information ul li .noodles {
        background-position-x: -100px; }
      .information ul li .lobster, .information ul li .noodles {
        background-position-y: -100px; }
      @media screen and (max-width: 767px) {
        .information ul li {
          width: 30%; } }
      @media screen and (max-width: 560px) {
        .information ul li {
          width: 49%; }
        .informationn ul li div:not(.hide) ~ div {
          display: none;} }

.photos {
  background-image: url(../img/pictures.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  overflow: hidden;
  background-position: 50% 50%;
  position: relative;
  background-color: rgba(77,184,112, .3); }
  .photos a {
    text-align: center;
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 28px;
    line-height: 300px;
    width: 100%;
    height: 100%; }
    .photos a::after {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 12px;
      height: 12px;
      border-top: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.photos-grid {
  position: absolute;
  top: 0;
  font-size: 0;
  width: 100%;
  z-index: -1; }
.photos-grid div {
  display: inline-block;
  background-size: cover;
  background-position: center top;
  width: 25%;
  height: 30vw;
}
@media all and (max-width: 1024px) {
  .photos-grid div {
    width: 33.333%;
    height: 40vw; }
}
@media all and (max-width: 479px) {
  .photos-grid div {
    width: 50%;
    height: 50vw; }
}
.grid1 {
  background-image: url(../img/grid1.jpg); }
.grid2 {
  background-image: url(../img/grid2.jpg); }
.grid3 {
  background-image: url(../img/grid3.jpg); }
.grid4 {
  background-image: url(../img/grid4.jpg); }
.grid5 {
  background-image: url(../img/grid5.jpg); }
.grid6 {
  background-image: url(../img/grid6.jpg); }
.grid7 {
  background-image: url(../img/grid7.jpg); }
.grid8 {
  background-image: url(../img/grid8.jpg); }
.grid9 {
  background-image: url(../img/grid9.jpg); }
.grid10 {
  background-image: url(../img/grid10.jpg); }
.grid11 {
  background-image: url(../img/grid11.jpg); }
.grid12 {
  background-image: url(../img/grid12.jpg); }

.more {
  background: rgb(40,40,40);
  color: #ffffff;
  padding: 48px;
  line-height: 36px; }
  .more h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 48px;
    text-align: center; }
  .more p {
    margin-bottom: 24px; }
  .more ul {
    display: block;
    width: 100%;
    list-style: none;
    margin-bottom: 36px;
    overflow: hidden; }
    .more ul li {
      display: block;
      width: 25%;
      padding: 12px 0;
      float: left;
      text-align: center; }
      .more ul li .icon {
        display: inline-block;
        width: 150px;
        height: 150px;
        background-size: 150px 150px; }
      .more ul li .food {
        background-image: url(../img/food.png); }
      .more ul li .drink {
        background-image: url(../img/drink.png); }
      .more ul li .memories {
        background-image: url(../img/memories.png); }
      .more ul li .and-more {
        background-image: url(../img/and-more.png); }
      @media screen and (max-width: 480px) {
        .more ul li {
          width: 100%; } }

.social {
  padding: 48px 0;
  margin: 0 auto;
  width: 55%; }

.eventbrite, .thanks {
  padding: 48px; }
  .eventbrite h3, .thanks h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 48px;
    text-align: center; }
  .eventbrite .columns, .thanks .columns {
    width: 100%; }
    .eventbrite .columns .column, .thanks .columns .column {
      width: 50%; }
      .eventbrite .columns .column p, .thanks .columns .column p {
        font-size: 20px;
        text-align: center; }
      .eventbrite .columns .column img, .thanks .columns .column img {
        display: block;
        height: 100px;
        margin: 0 auto;
        width: 400px; }

.left {
  float: left; }

.right {
  float: right; }

.red {
  color: red; }

.hide {
  display: none !important; }
